<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header.ejs', { user }) %>
</header>

<main class="main">

    <% if(result) { %>
        <div class="container-fluid">
            <%- include('../partials/wordSearchForm', { result, query }) %>
        </div>

        <div class="result">
          <%- include('../partials/wordList', { wordList: result }) %>
        </div>
    <% } %>

    <% if(!result && user) { %>
        <%- include('../partials/wordEditForm') %>
    <% } else if(!result && !user) { %>
        <div class="alert alert-warning" role="alert">
            <a href="/login?retPath=<%= retPath %>">Войдите, чтобы добавить слово</a>
        </div>
    <% } %>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
