<form class="word-edit-form" <% if (wordItem?.word) {%>action="/words/<%= wordItem.word %>" <% } else {  %>action="/words" <% } %>  method="post">
    <div class="row mb-3">
        <div class="col col-10">
            <label for="word" class="form-label">слово</label>
            <input type="text" value="<%= wordItem?.word %>" class="form-control" id="word" name="word">

            <label for="translations" class="form-label">перевод, слова разделенные запятыми</label>

            <% wordItem.translations?.forEach((translation) => { %>
                <textarea class="form-control" name="translation"><%= translation %></textarea>
            <% }) %>
            
            <textarea class="form-control" name="translations"></textarea>

            <fieldset>
                <legend>Примеры</legend>
                <% wordItem.examples?.forEach((example) => { %>
                <div class="word-example">
                    <textarea class="form-control" minlength="1" name="example.text"><%= example.text %></textarea>
                    <input class="form-control" value="<%= example.source %>" name="example.source" />
                </div>
                <% }) %>
                <div class="word-example">
                  <textarea class="form-control" placeholder="добавить пример" minlength="1" name="example.text"></textarea>
                  <input class="form-control" placeholder="добавить источник" name="example.source" />
                </div>
                <div style="margin: 10px 0;">
                    <button type="button" class="btn js-add-example">Добавить пример</button>
                </div>
            </fieldset>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </div>
</form>

<style>
    .word-example {
      margin-bottom: 25px;
    }
</style>

<script>
  (() => {
    const form = document.querySelector('.word-edit-form')
    form.addEventListener('submit', async (e) => {
      e.preventDefault()

      const formData = new FormData(e.target)

      const body = {
        translations: formData.get('translations').split(',').map(word => word.trim()),
        synonyms: [],
        examples: formData.getAll('example.text')?.map((example, index) => ({ text: example, source: formData.getAll('example.source')[index] })),
        word: formData.get('word'),
      }
        
      let action = '/words'
      let method = 'POST'
       
      <% if (wordItem?.word) {%>
      action = '/words/<%= wordItem.word %>'
      method = 'PATCH'
      <% } %>
      
      console.log("body: ", body); // eslint-disable-line

      let response = await fetch(action, {
        headers: {
          'Content-type': 'application/json; charset=UTF-8',
          'Accept': 'application/json',
        },
        method,
        body: JSON.stringify(body),
      })

      let result = await response.json()

      console.log('result: ', result) // eslint-disable-line
    })
  })();

  (() => {
    const addExampleButton = document.querySelector('.js-add-example')

    addExampleButton.addEventListener('click', () => {
      const exampleElem = document.querySelectorAll('.word-example')
      const lastExampleElem = exampleElem[exampleElem.length - 1]
      const newExampleElem = lastExampleElem.cloneNode(true)
      lastExampleElem.after(newExampleElem)

      newExampleElem.querySelector('textarea').value = ''
      newExampleElem.querySelector('input').value = ''
      
    })

  })()
</script>
