<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body>

<header>
  <div class="container">
    <div class="row">
      <div class="col col-9">
        <h1>Словарь</h1>
      </div>
      <div class="col col-3">
        <% if (user) { %>
          <%- include('../partials/user', { user }) %>
        <% } else { %>
          <%- include('../partials/login') %>
        <% } %>
      </div>
    </div>
  </div>
</header>

<main class="main">
  <div class="container">
    <div class="row">
      <div class="col col-9">
        <div class="container-fluid"><%- include('../partials/wordSearchForm', { result }) %></div>
      </div>
      <div class="col col-3">
       
      </div>
    </div>
  </div>
</main>

<footer>
  <%- include('../partials/footer') %>
</footer>

</body>
</html>
